body {
  margin: 0;
  font-family: "Arimo", sans-serif;
}

a {
  text-decoration: 0;
  color: white;
  transition: all .2s linear;
}

ul {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}

li {
  list-style: none;
  font-size: 32px;
  font-weight: 600;
  padding: 5px 0;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav img {
  width: 150px;
}

a:hover {
  font-size: 34px;
  color: #ffe4e4;
}

.head {
  background-color: #63dbffd5;
}

.foot {
  text-align: center;
  background-color: #63dbffd5;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.foot p {
  color: black;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.main {
  margin-top: 50px;
  margin-bottom: 65px;
  font-size: 24px;
}
